includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app

    larastan:
        enable_model_property_inference: true

services:
    -
        class: App\PHPStan\Rules\NoIndexMethodInControllersRule
        tags: [phpstan.rules.rule]
